@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap);
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin 20s linear infinite;
    animation: App-logo-spin 20s linear infinite;
  }
}
.App-header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}
.App-link {
  color: #61dafb;
}
@-webkit-keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
body {
  background: #1f2b3d;
  background: hsl(var(--cr_big-stone));
  margin: 0;
  padding: 0;
}
.wrapper-place {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
::-webkit-input-placeholder {
  color: red;
  opacity: 1;
}
::placeholder {
  color: red;
  opacity: 1;
}
.logo {
  float: left;
}
#navigation-container {
  height: 70px;
  margin: 0 auto;
  width: 1200px;
}
.navigation-bar {
  background: rgba(0, 0, 0, 0.5);
  height: 70px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
.navigation-bar img {
  float: left;
  padding: 10px;
  width: 70px;
}
.navigation-bar ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top;
}
.navigation-bar li {
  display: inline;
  height: 24px;
  list-style-type: none;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 0;
}
.inline-block {
  display: inline-block;
}
.navigation-bar li a {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 70px;
  opacity: 0.7;
  padding: 5px 35px;
  text-decoration: none;
  text-transform: uppercase;
}
.wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.wrapper-name-guest {
  margin-bottom: 1rem;
}
.empty-div {
  height: 13.5rem;
}
.navigation-bar li a:hover {
  font-weight: 500;
}
.text-name {
  font-size: 3rem;
}
.text-date,
.text-name {
  size: 1;
  color: #fff;
  font-family: cursive;
}
.text-date {
  font-size: 2rem;
}
#menu {
  float: right;
}
.container {
  background-attachment: fixed;
  background-image: url(../media/wedding.787225d1f2bf296e0f26.jpg);
  background-repeat: no-repeat;
  border-radius: 1rem;
  overflow: scroll;
  position: static;
  top: 0;
  width: 100%;
}
.size-container-before {
  background-size: 24rem 41.6rem;
  height: 70rem;
}
.size-container-after {
  background-size: 24rem 30rem;
  height: 30rem;
}
.row {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
}
.col {
  flex: 1 1;
  text-align: center;
}
.text-guest {
  color: #fff;
}
.button {
  background-color: initial;
  border: 2px solid;
  color: #1ccab0;
  color: hsl(var(--cr_puerto-rico));
  cursor: pointer;
  display: inline-block;
  font-family: Playfair Display SC, serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 4px 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  width: 9rem;
}
.buttonOpenForm {
  left: -1rem;
}
.buttonNotJoin,
.buttonOpenForm {
  background-color: #625e9e38;
  border: 2px solid #1ccab0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Playfair Display SC, serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 14px 34px;
  position: relative;
  text-align: center;
  text-decoration: none;
  top: 19rem;
  width: 5rem;
}
.buttonNotJoin {
  left: 2rem;
}
.btn-.buttonOpenForm:hover {
  box-shadow: 4px 4px 6px 0 hsla(0, 0%, 100%, 0.5),
    -4px -4px 6px 0 hsla(213, 8%, 49%, 0.5),
    inset -4px -4px 6px 0 hsla(0, 0%, 100%, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}
.buttonOpenForm:hover:after {
  height: 100%;
  top: 0;
}
.buttonOpenForm:active {
  box-shadow: 4px 4px 6px 0 hsla(0, 0%, 100%, 0.5),
    -4px -4px 6px 0 hsla(213, 8%, 49%, 0.5),
    inset -4px -4px 6px 0 hsla(0, 0%, 100%, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}
.icon-calendar {
  color: #c6aaa1;
  font-family: untitled-font-1;
}
.icon-map-marker {
  color: #b2c1cb;
  font-family: untitled-font-1;
}
h1 {
  color: #1ccab0;
  color: hsl(var(--cr_puerto-rico));
  font-size: 18px;
  line-height: 20px;
}
h1,
h2 {
  font-family: Playfair Display, serif;
  font-style: italic;
  font-weight: 400;
}
h2 {
  color: #b5b5b5;
  font-size: 16px;
  line-height: 15px;
}
.biglogo {
  position: fixed;
  text-align: center;
  top: 30%;
  width: 100%;
  z-index: 99;
}
h3 {
  color: #eee;
  font-family: Crimson Text, serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 5px;
  margin-left: 100px;
  margin-top: -80px;
  word-spacing: 10px;
}
.yellowhighlight {
  color: #e8da9b;
}
input {
  width: 7rem;
}
input,
select {
  background: transparent;
  border-color: transparent;
  border-bottom: 1px solid #a9a9a9;
  font-size: 19px;
  text-align: center;
}
select {
  color: #000;
}
select:invalid {
  color: gray;
}
option:disabled {
  color: gray;
}
input:focus {
  outline: none;
}
.input-name:placeholder {
  color: green;
}
input::-webkit-input-placeholder {
  color: #3c3c3c;
  font-size: 15px;
  padding-left: 5px;
}
input:-moz-placeholder,
input::-moz-placeholder {
  color: #3c3c3c;
  font-size: 15px;
  padding-left: 5px;
}
input:-ms-input-placeholder {
  color: #3c3c3c;
  font-size: 15px;
  padding-left: 5px;
}
input {
  font: inherit;
}
:root {
  --cr_white: 0, 0%, 100%;
  --cr_shuttle-gray: 215, 15%, 39%;
  --cr_puerto-rico: 171, 76%, 45%;
  --cr_big-stone: 216, 33%, 18%;
  --ft-fam-primary: "Poppins", sans-serif;
  --ft-wt-500: 500;
  --ft-se-400: 0.9rem;
  --size-200: 0.5em;
  --size-300: 0.8em;
  --size-400: 1.5em;
  --tn-1: 180ms linear;
  --page_cr: hsl(var(--cr_white));
  --page_bd: hsl(var(--cr_big-stone));
  --page_font: var(--ft-fam-primary);
  --form__input_border-cr: hsl(var(--cr_shuttle-gray));
  --form__input_border-cr_active: hsl(var(--cr_puerto-rico));
  --form__input_txt-cr: hsl(var(--cr_white));
}
.page {
  align-items: center;
  color: #fff;
  color: var(--page_cr);
  display: grid;
  font-family: Poppins, sans-serif;
  font-family: var(--page_font);
  min-height: 100vh;
}
.page__form {
  margin-inline: auto;
  max-width: 20em;
}
.form {
  color: #fff;
  color: var(--page_cr);
  display: flex;
  gap: 0.8em;
  gap: var(--size-300);
  width: 100%;
}
.form__linput {
  color: #556172;
  color: var(--form__input_border-cr);
  display: grid;
  position: relative;
}
.form__input {
  background: inherit;
  border: 2px solid #556172;
  border: 2px solid var(--form__input_border-cr);
  border-radius: 0.5em;
  border-radius: var(--size-200);
  color: #fff;
  color: var(--form__input_txt-cr);
  font-weight: 500;
  font-weight: var(--ft-wt-500);
  height: 6px;
  padding: 0.8em;
  padding: var(--size-300);
}
.form__input:focus,
.form__input:valid {
  border: 2px solid #1ccab0;
  border: 2px solid var(--form__input_border-cr_active);
}
.form__input:focus + .form__label,
.form__input:valid + .form__label {
  font-size: 0.9rem;
  font-size: var(--ft-se-400);
}
.form__input:focus + .form__label,
.form__input:valid + .form__label {
  color: #1ccab0;
  color: var(--form__input_border-cr_active);
  top: 0;
}
.form__input:focus + .form__label:before,
.form__input:valid + .form__label:before {
  height: 90%;
  opacity: 1;
}
.form__label {
  background: #1f2b3d;
  background: hsl(var(--cr_big-stone));
  cursor: text;
  font-size: 12px;
  font-weight: 500;
  font-weight: var(--ft-wt-500);
  left: 0.9em;
  letter-spacing: 1px;
  padding-inline: 0.5em;
  padding-inline: var(--size-200);
  transition: top 0.18s linear, font-size 0.18s linear;
  transition: top var(--tn-1), font-size var(--tn-1);
  -webkit-user-select: none;
  user-select: none;
}
.form__label,
.form__label:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form__label:before {
  border-inline: 2px solid #1ccab0;
  border-inline: 2px solid var(--form__input_border-cr_active);
  content: "";
  height: 0;
  left: 0;
  opacity: 0;
  transition: height 90ms linear 90ms, opacity 0.18s linear;
  transition: height 90ms linear 90ms, opacity var(--tn-1);
  width: 100%;
}
@media only screen and (width: 375px) {
  .size-container-before {
    background-size: 24rem 41.6rem;
    height: 42rem;
  }
  .size-container-after {
    background-size: 24rem 27rem;
    height: 27rem;
  }
  .wrapper {
    position: relative;
    top: 10rem;
  }
  .button {
    font-size: 10px;
    width: 6rem;
  }
}
@media only screen and (max-width: 414px) and (min-width: 412px) {
  .size-container-before {
    background-size: 26rem 50.6rem;
    height: 51rem;
  }
  .size-container-after {
    background-size: 26rem 35rem;
    height: 35rem;
  }
  .buttonNotJoin,
  .buttonOpenForm {
    top: 29rem;
  }
  .wrapper {
    position: relative;
    top: 17rem;
  }
}
@media only screen and (max-width: 393px) and (min-width: 390px) {
  .size-container-before {
    background-size: 26rem 50.6rem;
    height: 47.5rem;
  }
  .size-container-after {
    background-size: 24rem 35rem;
    height: 35rem;
  }
  .buttonNotJoin,
  .buttonOpenForm {
    top: 27rem;
  }
  .wrapper {
    position: relative;
    top: 16rem;
  }
}
@media only screen and (width: 360px) {
  .size-container-before {
    background-size: 23rem 46rem;
    height: 46rem;
  }
  .wrapper {
    position: relative;
    top: 11rem;
  }
}
@media only screen and (width: 280px) {
  .size-container-before {
    background-size: 18rem 40.6rem;
    height: 40.5rem;
  }
  .buttonOpenForm {
    left: -1rem;
  }
  .buttonNotJoin,
  .buttonOpenForm {
    font-size: 10px;
    top: 12rem;
    width: 2rem;
  }
  .buttonNotJoin {
    direction: rtl;
    left: 1rem;
  }
}
/*# sourceMappingURL=main.31a255ac.css.map*/
