body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin 20s linear infinite;
    animation: App-logo-spin 20s linear infinite;
  }
}
.App-header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}
.App-link {
  color: #61dafb;
}
@-webkit-keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes App-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}
.logo {
  float: left;
}
#navigation-container {
  height: 70px;
  margin: 0 auto;
  width: 1200px;
}
.navigation-bar {
  background: rgba(0, 0, 0, 0.5);
  height: 70px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
.navigation-bar img {
  float: left;
  padding: 10px;
  width: 70px;
}
.navigation-bar ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top;
}
.navigation-bar li {
  display: inline;
  height: 24px;
  list-style-type: none;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 0;
}
.inline-block {
  display: inline-block;
}
.navigation-bar li a {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 70px;
  opacity: 0.7;
  padding: 5px 35px;
  text-decoration: none;
  text-transform: uppercase;
}
.wrapper {
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
}
.wrapper-name-guest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}
.empty-div {
  height: 10.5rem;
}
.navigation-bar li a:hover {
  font-weight: 500;
}
.text-name {
  font-size: 3rem;
}
.text-date,
.text-name {
  size: 1;
  color: #fff;
  font-family: cursive;
}
.text-date {
  font-size: 2rem;
}
#menu {
  float: right;
}
.container {
  background-attachment: fixed;
  background-image: url(./static/media/wedding.f99c1a374e13c9f86820.jpg);
  background-repeat: no-repeat;
  background-size: 24rem 40rem;
  height: 37rem;
  overflow: scroll;
  position: static;
  top: 0;
  width: 100%;
}
.row {
  display: flex;
}
.col {
  flex: 1 1;
  text-align: center;
}
.button,
.text-guest {
  color: #fff;
}
.button {
  background-color: initial;
  border: 1px solid #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Playfair Display SC, serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 4px 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  width: 8rem;
}
.icon-calendar {
  color: #c6aaa1;
  font-family: untitled-font-1;
}
.icon-map-marker {
  color: #b2c1cb;
  font-family: untitled-font-1;
}
h1 {
  line-height: 20px;
}
h1,
h2 {
  font-family: Playfair Display, serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
}
h2 {
  color: #b5b5b5;
  line-height: 15px;
}
.biglogo {
  position: fixed;
  text-align: center;
  top: 30%;
  width: 100%;
  z-index: 99;
}
h3 {
  color: #eee;
  font-family: Crimson Text, serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 5px;
  margin-left: 100px;
  margin-top: -80px;
  word-spacing: 10px;
}
.yellowhighlight {
  color: #e8da9b;
}
input,
select {
  background: transparent;
  border-color: transparent;
  border-bottom: 1px solid #a9a9a9;
  color: #fff;
}
input:focus {
  outline: none;
}
input::-webkit-input-placeholder {
  color: #3c3c3c;
  font-size: 15px;
  padding-left: 5px;
}
input:-moz-placeholder,
input::-moz-placeholder {
  color: #3c3c3c;
  font-size: 15px;
  padding-left: 5px;
}
input:-ms-input-placeholder {
  color: #3c3c3c;
  font-size: 15px;
  padding-left: 5px;
}
/*# sourceMappingURL=main.d7210f1b.css.map*/
